*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-kleur: #3a0519;
  --secundary-kleur: #670e2f;
  --tertiary-kleur: #ee87ac;
}

body {
  background: var(--main-kleur);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  @media (min-width: 1200px) {
    overflow-y: hidden;
  }
}

a {
  color: var(--tertiary-kleur);
}

button {
  background: none;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border: 1px solid white;
  border-radius: 20px;
  padding: 10px 30px;
  font-size: 1rem;
  cursor: pointer;
}
