*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-kleur: #3a0519;
  --secundary-kleur: #670e2f;
  --tertiary-kleur: #ee87ac;
}

body {
  background: var(--main-kleur);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  @media (min-width: 1200px) {
    overflow-y: hidden;
  }
}

.gif {
  width: 60px !important;
}

a {
  color: var(--tertiary-kleur);
}

button {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border: none;
  border-radius: 20px;
  border: 1px solid var(--tertiary-kleur);
  color: var(--tertiary-kleur);
  background: no-repeat;
  padding: 10px 35px;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  gap: 12px;
  align-items: center;

  span {
    height: 10px;
    aspect-ratio: 1/1;
    display: flex;
    border-radius: 50%;
    background-color: var(--tertiary-kleur);
  }
}
