footer {
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-kleur);
  width: 100%;
  left: 0;
  position: absolute;
  bottom: -80px;

  ul {
    list-style: none;

    li {
      display: flex;
      flex-direction: row !important;
      align-items: center;
      gap: 30px;

      a {
        color: var(--tertiary-kleur);
        text-decoration: none;

        &:hover {
          transition: 0.2s;
          color: white;
        }
      }
    }
  }
}
