main {
  display: flex;
  flex-direction: column;
  height: 100vh;

  @media (min-width: 1000px) {
    display: grid;
    grid-template-areas: "title title content content";
  }

  section:nth-of-type(1) {
    display: flex;
    text-align: center;
    min-height: 530px;
    justify-content: center;
    align-items: center;
    padding: 30px;
    grid-area: title;

    ul {
      display: flex;
      flex-direction: column;
      gap: 25px;
      color: white;

      li {
        list-style: none;
        position: relative;
        max-width: 35rem;

        &:nth-of-type(1) {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;

          h1 {
            font-size: 3rem;
          }
        }

        &:nth-of-type(2) {
          h2 {
            color: var(--tertiary-kleur);
            font-weight: 400;
          }
        }

        &:nth-of-type(3) {
          font-weight: 100;
        }

        &:nth-of-type(4) {
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
          justify-content: center;
        }
      }
    }
  }

  section:nth-of-type(2) {
    padding: 30px;
    background-color: var(--secundary-kleur);
    grid-area: content;
    position: relative;

    @media (min-width: 1000px) {
      overflow-y: auto;
    }

    ul {
      color: white;
      list-style: none;

      h3 {
        font-size: 1.5rem;
      }

      div {
        display: flex;
        flex-direction: column;
        gap: 15px;

        details[open] summary .arrow {
          transform: rotate(270deg);
        }

        details {
          background: var(--main-kleur);

          &:open summary .arrow {
            transform: rotate(270deg);
          }

          summary {
            list-style: none;
            font-size: 1.05rem;
            display: flex;
            padding: 15px;
            align-items: center;
            justify-content: space-between;

            .arrow {
              display: inline-block;
            }
          }

          div {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 0px 15px 15px 15px;

            a {
              width: max-content;
              text-decoration: none;
            }
          }
        }
      }

      li {
        display: flex;
        flex-direction: column;
        gap: 15px;

        h4 {
          font-weight: 600;
          font-size: 1.2rem;
          padding-bottom: 5px;
        }

        img {
          width: 100%;
        }

        code {
          background-color: black;
          padding: 5px;
          border-radius: 4px;
          display: inline-block;
        }

        ol {
          display: flex;
          flex-direction: column;
          gap: 10px;
        }

        .font-weight {
          font-weight: 700;
        }
      }

      &.links {
        gap: 25px !important;

        h5 {
          font-size: 1.2rem;
        }
      }

      &.sprint {
        display: none;

        &.active {
          display: flex;
          flex-direction: column;
          gap: 40px;
        }
      }
    }
  }
}
